.main-header{
  width: 100%;
  height: 60px;
  background-color: var(--cls-black);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}



.logo {
  font-size: 2.4rem;
  color: var(--brand-primary);
  text-decoration: none; 
}

.logo span {
  font-weight: 600;
  color: var(--brand-secondary);
}

@media only screen and (max-width: 850px) {
.main-header{
    justify-content: space-between; 
  }
}

  footer {
    width: 100%;
    height: 60px;
    background-color:var(--cls-black);
    margin-top: auto;
}
footer p {
  color: var(--brand-primary);
  font-size: 1.4rem;
  line-height: 150%;
}
footer p span {
  color: var(--brand-primary);
  padding: 2px;
}
footer p span:last-child {
  font-weight: 600;
  color: var(--brand-secondary);
}


