/* Reset para listas */
.nav-list, 
.dropdown-menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-list {
  display: flex;
  align-items: center;
  gap: 15px;
}

/* Reset para los botones desplegables para que se vean IGUAL a los enlaces */
.nav-bar a,
.dropdown-trigger {
font-size: 1.4rem;
  position: relative;
  text-decoration: none;
  color: var(--cls-white, #fff);
  background: transparent;
  border: none;
  /* font: inherit; */
  cursor: pointer;
  padding: 5px 10px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

/* Línea animada inferior (hover) */
.nav-list > li > a::after,
.dropdown-trigger::after {
  content: "";
  z-index: 5;
  position: absolute;
  transition: 0.5s ease;
  top: 0;
  left: 0;
  height: 95%;
  width: 0%;
  border-bottom: 1px solid var(--cls-white, #fff);
}

.nav-bar a:hover::after,
.dropdown-trigger:hover::after
 {
  width: 100%;
}

/* Estado activo */
.nav-bar .is-current { 
  color: var(--brand-primary); 
  font-weight: bolder;
  letter-spacing: 2px;
}

/* Estilos de los Dropdowns */
.dropdown {
  display: inline-block;
  position: relative;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%); 
  background-color: var(--cls-black, #000);
  border-radius: 0 0 10px 10px;
  padding: 10px 0 0 0;
  z-index: 10;
  overflow: hidden;
}

@keyframes dropani {
  0% {
    clip-path: polygon(0% 0%, 100% 0%, 100% 0%, 0% 0%);
  }
  100% {
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
  }
}

.dropdown:hover .dropdown-menu,
.dropdown:focus-within .dropdown-menu 
{
  display: block;
  animation: dropani 0.3s linear forwards;
}

.dropdown-menu li a {
  padding: 8px 16px;
  text-decoration: none;
  display: block;
  color: var(--cls-white, #fff);
  transition: 0.3s ease;
  font-size: 1.4rem;
  white-space: nowrap;
}

.dropdown-menu li a:hover {
  background-color: rgb(68, 66, 66); 
}

/* --- Botón Toggle Hamburguesa --- */
.nav-toggle {
  width: 30px;
  height: 30px;
  padding: 0;
  position: relative; 
  z-index: 20;
  border: unset;
  cursor: pointer;
  background:transparent; 
  display: none;
}

.nav-toggle:after {
  content: "";
 position: absolute;
 inset: 0;
  background-color: var(--brand-secondary);
  clip-path: path("M0 15 Q0 0 0 0 15 0 30 0 30 6 30 6 15 6 0 6 0 12 0 12 15 12 30 12 30 18 30 18 15 18 0 18 0 24 0 24 15 24 30 24 30 30 30 30 15 30 0 30 0 15 0 15");
   transform: translateZ(0);
  will-change: clip-path;
  transition:clip-path 0.2s ease;
}

.icon:after {
  clip-path: path("M0 15 Q0 15 0 15 6 0 12 0 12 6 12 6 9 6 6 12 6 12 6 12 30 12 30 12 30 18 30 18 6 18 6 18 6 18 6 18 9 24 12 24 12 30 12 30 6 30 0 15 0 15 0 15");
}

/* --- Adaptación Móvil (<= 900px) --- */
@media only screen and (max-width: 900px) {


  .nav-toggle {
    display: block;
  }

  .header__deck {
    position: fixed;
    background: linear-gradient(to left, #111, var(--brand-secondary), #111);
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    transform: translateX(-100%);
    transition: transform 0.4s ease-in-out, visibility 0.4s;
    visibility: hidden;
  }

  .header__deck.is-open {
    transform: translateX(0);
    visibility: visible;
  }

  .nav-list {
    flex-direction: column;  
    gap: 0;
  }

  /* Formato Hexágono/Clip-path para móviles */
  .header__deck .nav-bar a,
  .header__deck .dropdown-trigger {
    padding: 10px;
    position: relative;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: var(--cls-white);
    width: 110px;
    font-size: 1.4rem;
    letter-spacing: 2px;
    background-color: var(--bg-overlay, rgba(0,0,0,0.5));
    aspect-ratio: 1/0.8;
    margin: 3px;
    clip-path: polygon(0% 50%, 30% 0%, 70% 0%, 100% 50%, 70% 100%, 30% 100%);
  }

  .dropdown-menu {
    top: -60px;
    left: 81px;
    transform: none;
    background-color: transparent;
    border-radius: 0 0 10px 10px;
    padding: 10px 0;
    z-index: 100;
  }

  .header__deck .dropdown-menu li a {
    margin: 6px;
    font-size: 1.4rem;
    clip-path: polygon(0% 50%, 30% 0%, 70% 0%, 100% 50%, 70% 100%, 30% 100%);
  }

  /* Oculta la línea inferior animada en pantalla móvil */
  .nav-bar a::after,
  .dropdown-trigger::after {
    display: none;
  }
}
